@import url('https://fonts.googleapis.com/css2?family=Delius&family=Stack+Sans+Headline:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

.main {
    
}

.members-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.members-card {
    width: 350px;
    padding: 10px;
    background: #242d44;
    box-sizing: border-box;
    border-radius: 25px;
    position: relative;
}

.members-head {
    font-size: 300%;
    font-weight: bold;

}

.title {
    font-size: 300%;
    font-weight: bold;
    font-family: "Stack Sans Headline", sans-serif;
}

.cardSubtitle {
    font-size: 150%;
    font-family:"Reddit Sans", sans-serif;
    font-weight: bold;
}

.button {
    font-size: 120%;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
}

.home-button {
    font-size: 120%;
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 6px 12px;
    border-radius: 40px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
}

.icon-setting{
    font-size: 40px !important;
}

