.title {
    font-size: 400%;
}

.button {
    font-size: 120%;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
}

.icon-setting{
    font-size: 70px !important;
}

.email {
    font-size: 120%;
    display: inline-flex;
    align-items: center;
    gap: 3px;
    border-radius: 40px;
}