.report-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.report-card {
  background-color: #242d44;
  padding: 25px;
  border-radius: 15px;
  color: white;
  text-align: center;
  font-family: 'Reddit Sans', sans-serif;
}

.report-card h2 {
  font-size: 150%;
  margin-bottom: 10px;
}

.report-card p {
  font-size: 120%;
  font-weight: bold;
}